/*
 * Application Name: 360 ERP Login Form Module
 * Version: 1.0
 * Folder Path: /css/
 * File Name: style_login.css
 *
 * 
 */

body{font-family: 'Montserrat', sans-serif;background-image: url("../img/backGround/main.png");height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;}
.first-level-Box{position: relative;z-index: 1;}
.default-style-Box{border-radius: 5px;width: 100%;height: 660px;}
.white-Box{background-color: #fff;border-right: 1px solid rgba(0, 0, 0, .25);}
.black-Box{background-color: #161b22;border-right: 1px solid rgba(14, 177, 220, .25);}
.logo{display: block;margin-left: auto;margin-right: auto;width: 15%;}
.form-Box{padding-left: 5%;padding-right: 5%;padding-bottom: 5%;height: 385px;}
.bttn-non-style{background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;}
.dark-mode-img{width: 25%;float: left;}
.center{text-align: center;}
.bttn-lng{width: 35%;}
.lang-flags{width: 100%;transition: opacity 0.5s linear;opacity: 0;}
.flags{display: inline-block;margin-left: 5%;}
.btn-full{width: 100%;}
.frgt-Pass{text-align: left!important;}
.crt-Acc{float: right;}
.copyright{height: 35px;text-align: center;font-weight: bold;}
.hidden{opacity: 1;}
.visuallyhidden{opacity: 1;}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    body{background-image: none;}
    .white-Box{padding: 5%;}
    .black-Box{padding: 5%;}
    .span-txt{font-size: .875em;}
    .flags{width: 25%;height: auto;}
    .link-primary,
    .link-info{font-size: .875em;}
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
    .white-Box{padding: 5%;}
    .black-Box{padding: 5%;}
    .span-txt{font-size: .825em;}
    .flags{width: 24%;height: auto;}
    .link-primary,
    .link-info{font-size: .825em;}
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .white-Box{top: 5%;padding: 5%;}
    .black-Box{top: 5%;padding: 5%;}
    .title-form{font-size: 1.2rem;}
    .flags{width: 24%;height: auto;}
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .white-Box{top: 10%;padding: 5%;}
    .black-Box{top: 10%;padding: 5%;}
    .dark-mode-img{width: 40%;}
    .bttn-lng{width: 50%;}
    .span-txt{font-size: .690em;}
    .flags{width: 23%;height: auto;}
    .link-primary,
    .link-info{font-size: .690em;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .dark-mode-img{width: 25%;}
    .title-form{font-size: 1.5rem;}
    .bttn-lng{width: 35%;}
    .span-txt{font-size: .875em;}
    .flags{width: 25%;height: auto;}
    .link-primary,
    .link-info{font-size: .875em;}
}